<h3 class="form-title">Sign Into Your Account</h1>

<fieldset class="form-container">
	<%= form_tag(session_path) do %>
		<p>
			<%= label_tag :email %>
			<br>
			<%= email_field_tag :email, nil, size: 30, required: true, autofocus: true%>
		</p>
		<p>
			<%= label_tag :password %>
			<br>
			<%= password_field_tag :password, nil, size: 30, required: true %>
		</p>
		<p>

		</p><%= submit_tag "Sign In" %>
	<% end %>
</fieldset>