<fieldset class="form-container">
	<%= form_for(@user) do |f| %>

	<%= render 'shared/errors', object: @user %>
		<p>
			<%= f.label :name %>
			<br>
			<%= f.text_field :name, size: 30, autofocus: true %>
		</p>
		<p>
			<%= f.label :email %>
			<br>
			<%= f.text_field :email, size: 30 %>
		</p>
		<p>
			<%= f.label :password %>
			<br>
			<%= f.password_field :password, size: 30 %>
		</p>
		<p>
			<%= f.label :password_confirmation, "Confirm Password" %>
			<br>
			<%= f.password_field :password_confirmation, size: 30 %>
		</p>
		<p>
			<% if @user.new_record? %>
  			<%= f.submit %> | <%= link_to "Cancel", root_path %>
			<% else %>
  			<%= f.submit %> | <%= link_to "Cancel", @user %>
			<% end %>
		</p>
	<% end %>
</fieldset>