<%= form_for([@series, @comic]) do |f| %>
	<%= render 'shared/errors', object: @comic %>
	<fieldset class="form-container">
		<p>
			<%= f.label :number, "Issue Number" %>
			<br>
      <%= f.text_field :number, autofocus: true %>
		</p>
		<p>
			<%= f.label :redemption_code, "Redemption Code" %>
			<br>
      <%= f.text_field :redemption_code %>
		</p>
		<p>
			<%= f.label :title %>
			<br>
      <%= f.text_field :title, size: 50 %>
		</p>
		<p>
			<%= f.submit %> | 
	    <%= link_to "Cancel", series_path(@series) %>
	   </p>
	</fieldset>
<% end %>