<%= form_for(@series) do |f| %>
	<%= render 'shared/errors', object: @series %>
	<fieldset class="form-container">
		<p>
			<%= f.label :name, "Series Name" %>
			<br>
      <%= f.text_field :name, autofocus: true, size: 70 %>
		</p>
		<p>
			<%= f.submit %> | 
			<% if current_page?(new_series_path) %>
		    <%= link_to "Cancel", series_index_path %>
		  <% else %>
		  	<%= link_to "Cancel", @series %>
		  <% end %>
	   </p>
	</fieldset>
<% end %>