<header>
	<span id="show-title"><%= @series.name %></span>
	<span class="header-options"> <%= link_to "Edit Title", edit_series_path(@series) %>  |  <%= link_to "Delete Series", series_path(@series), method: :delete, data: {confirm: "Are you sure you want to delete this series and all of it's comics?"} %></span>
</header>


<% if @series.comics.any? %>

	<p><%= filtered_comic_count(@series) %></p>

	<table id="show-comics">
		<tr>
			<th>Issue #</th>
			<th>Title</th>
			<th>Code</th>
			<th>Redeem</th>
			<th></th>
		</tr>
		
		<% @comics.each do |comic| %>
			<tr class="comic-row">
				<td><%= comic.number %></td>
				<td id="row-title"><%= comic.title %></td>
				<td class="redemption-code <%= redemption_style(comic) %>"><%= comic.redemption_code %></td>
				<td><%= link_to redemption_status(comic), 
									'', 
									class: 'redeem-link',
									id: comic.id, 
									series_id: @series.id %></td>
				<td><%= link_to "Delete", 
									series_comic_path(@series, comic), 
									method: :delete, 
									data: {confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div id="add-comic">
		<%= link_to "Add a New Comic!!", new_series_comic_path(@series) %>
	</div>
<% end %>



<% content_for(:side) do %>
	<br>
	<li class="button"><%= link_to "Add New Comic", new_series_comic_path(@series) %></li>	

	<div id="filter">
	<h3>Sort By:</h3>
<!-- 	<select onchange="if(this.value){window.location=this.value;}">
		<option><%= link_to "Show All", @series %></option>
		<option><%= link_to "Redeemed", series_redeemed_path(@series) %></option> 
		<option><%= link_to "Unredeemed", series_unredeemed_path(@series) %></option>
	</select>	 -->

	<%= link_to "Show All", @series %>
	<br>
	<%= link_to "Redeemed", series_redeemed_path(@series) %>
	<br>
	<%= link_to "Unredeemed", series_unredeemed_path(@series) %>
</div>
<% end %>