<!DOCTYPE html>
<html>
<head>
  <title>Comics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Mako|Arvo:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<%= render 'layouts/flashes' %>

<div id="container">
	<%= render 'layouts/sidebar' %>

	<div id="content">
		<%= yield %>
	</div>
</div>

</body>
</html>
